{% extends "base.html" %}
<body>
    {% block dynamiccontent %}
    <div style="text-align: center; margin-top: 20px;">
        {% if success %}
            <div style="margin-bottom: 10px; padding: 10px; background-color: #a2d8a0; color: #116a36; border-radius: 5px;">{{ success }}</div>
        {% endif %}
        <form style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px; width: 300px; margin: 0 auto;" action="/signup" method="post" enctype="multipart/form-data">
            <input style="padding: 10px; margin-bottom: 10px; width: 100%; border: 1px solid #ccc; border-radius: 5px;" type="email" name="emailid" id="emailid" placeholder="Enter your email Id"><br>
            <input style="padding: 10px; margin-bottom: 10px; width: 100%; border: 1px solid #ccc; border-radius: 5px;" type="password" name="password" id="password" placeholder="Enter your password"><br>
            <input style="padding: 10px; margin-bottom: 10px; width: 100%; border: 1px solid #ccc; border-radius: 5px;" type="password" name="cpassword" id="cpassword" placeholder="Enter Confirm Password"><br>
            <input style="padding: 10px; background-color: #4173b3; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease-in-out; width: 100%;" type="submit" name="submitbutton" value="Signup">
        </form>
    </div>
    {% endblock %}
</body>
</html>
